$color-1: #333333;
$color-2: #666666;
$color-3: #999999;
$color-4: #ffffff;
$color-7: #777777;
$color-e: #eeeeee;
$color-d: #dddddd;
$color-x: #dfdfdf;
$color-black: #000000;
$color-red: #e9142b;
$color-blue: #519dda;
$color-orange: #ff5400;
$color-seg: #d9d9d9;
$color-gray: #aaaaaa;
$color-back: #d9d9d9;
$color-white: #d9d9d9;
$color-icbcRed: #00a6ff;
$color-icbcBlue: #78bfe3;
$color-icbc77: #77d0ff;
$color-icbcOrange: #ff6b22;
$color-icbcf4: #f4f4f4;
$color-icbcf5: #f5f5f5;
$color-icbc5f: #5f5f5f;
$color-icbcd7: #d7d7d7;
$color-icbceb: #eb6374;
//$color-icbcLoad:linear-gradient(90deg,#dddddd 50%,transparent 50%),linear-gradient(0deg,#dddddd 50%,#fff 50%);
$color-icbcLoad: #ffffff;
$color-icbcSize: 1rem, 1rem;
