/**
  高度常量
 */
$nav-height: 0.88rem;
$tab-height: 0.96rem;

/*
  z-index层叠常量
 */
$index-floor: 0;
$index-top: 999;
$index-1: 10;
$index-2: 20;
$index-3: 30;
$index-4: 40;
$index-5: 50;
$index-6: 60;
$index-7: 70;
$index-8: 80;
$index-9: 90;

/**
  文字
 */
$fc-1: #333333;
$fc-2: #666666;
$fc-3: #999999;
$fs-1: 0rem;
$fs-2: 0rem;
$fs-3: 0rem;
$c-333: #333;
$c-999: #999;
$c-666: #666;
$font-stack: Helvetica, sans-serif;
