.flex-x {
  display: flex;
  flex-direction: row;
}

.flex-middle-x {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-center-x {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.flex-middle-y {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center-y {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
